[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
importlib-resources = "*"
ipdb = "0.13.9"
pytest = "7.1.3"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask = "*"

[requires]
python_full_version = "3"
